.btn{
    color: black;
    background-color: rgb(240, 240, 240);
}
.wd-redbutton{
    background-color: rgb(203, 7, 7)!important;
    color: white;
}
.list-group-item{
    /*border-color: rgb(152, 148, 148) ;*/
    border-radius: 0 !important;
    /* background-color: rgb(227, 224, 224) ; */
    margin-bottom: 10px;
}
.wd-module-screen{
    margin-right: 10%;
}