.btn{
    color: black;
    background-color: rgb(240, 240, 240);
}
.wd-redbutton{
    background-color: rgb(203, 7, 7)!important;
    color: white;
}
.wd-greenbutton{
    background-color: rgb(5, 115, 60)!important;
    color: white;
}
.wd-bluebutton{
    background-color: rgb(12, 83, 234)!important;
    color: white;
}

.wd-yellowbutton{
    background-color: rgba(243, 164, 27, 0.972)!important;
    color: black;
}


.wd-module-screen{
    margin-right: 10%;
}