.d-flex{
    gap: 20px;
}

.wd-status-button{
    color: black;
    text-align: left;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-bottom: 3px;
}
h4{
    margin-top: 10px;
}

hr {
    margin: 8px;
}