.wd-no-caret::after {
    display: none !important;
  }
.wd-no-border-button{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}   